<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.AutoCaseMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.AutoCasePO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="case_id" jdbcType="VARCHAR" property="caseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="max_time" jdbcType="INTEGER" property="maxTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, case_id, `name`, description, max_time, `type`, `status`, owner_id,
    owner_name
  </sql>
  <select id="selectByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_case
    where case_id = #{caseId,jdbcType=VARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_case
    where is_delete = 0
    and owner_id = #{ownerId,jdbcType=VARCHAR}
    <if test="status != null">
      and `status` = #{status,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    order by gmt_create desc limit ${startIndex}, 10
  </select>
  <update id="remove" parameterType="java.lang.String">
    update auto_case set is_delete = 1
    where case_id = #{caseId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoCasePO" useGeneratedKeys="true">
    insert into auto_case (case_id, `name`, description, max_time,
      `type`, `status`, owner_id, owner_name,
      is_delete, gmt_create, gmt_modified
      )
    values (#{caseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{maxTime,jdbcType=INTEGER},
      #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{ownerId,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR},
      0, now(), now()
      )
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoCasePO">
    update auto_case
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="maxTime != null">
        max_time = #{maxTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      gmt_modified = now(),
    </set>
    where case_id = #{caseId,jdbcType=VARCHAR}
  </update>
</mapper>
