<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.AutoStepMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.AutoStepPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="module_type" jdbcType="TINYINT" property="moduleType" />
    <result column="method_type" jdbcType="TINYINT" property="methodType" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_id" jdbcType="INTEGER" property="methodId" />
    <result column="parameter1" jdbcType="VARCHAR" property="parameter1" />
    <result column="parameter2" jdbcType="VARCHAR" property="parameter2" />
    <result column="parameter3" jdbcType="VARCHAR" property="parameter3" />
    <result column="var_name" jdbcType="VARCHAR" property="varName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, description, module_type, method_type, method_name, method_id, parameter1, parameter2,
    parameter3, var_name
  </sql>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_step
    where id = #{stepId,jdbcType=INTEGER}
  </select>
<!--  <select id="list" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from auto_step-->
<!--    where is_delete = 0-->
<!--    and owner_id = #{ownerId,jdbcType=VARCHAR}-->
<!--    <if test="isPublic != null">-->
<!--      and is_public = #{isPublic,jdbcType=TINYINT}-->
<!--    </if>-->
<!--    <if test="type != null">-->
<!--      and `type` = #{type,jdbcType=TINYINT}-->
<!--    </if>-->
<!--    <if test="name != null">-->
<!--      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')-->
<!--    </if>-->
<!--    order by gmt_create desc limit ${startIndex}, 10-->
<!--  </select>-->
<!--  <select id="count" resultType="java.lang.Integer">-->
<!--    select count(1)-->
<!--    from auto_step-->
<!--    where is_delete = 0-->
<!--    and owner_id = #{ownerId,jdbcType=VARCHAR}-->
<!--    <if test="isPublic != null">-->
<!--      and is_public = #{isPublic,jdbcType=TINYINT}-->
<!--    </if>-->
<!--    <if test="type != null">-->
<!--      and `type` = #{type,jdbcType=TINYINT}-->
<!--    </if>-->
<!--    <if test="name != null">-->
<!--      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')-->
<!--    </if>-->
<!--  </select>-->
  <update id="remove">
    update auto_step
    set is_delete = 1, gmt_modified = now()
    where id = #{stepId,jdbcType=INTEGER}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoStepPO" useGeneratedKeys="true">
    insert into auto_step (`name`, description, module_type,
      method_type, method_name, method_id, parameter1, parameter2,
      parameter3, var_name, is_delete, gmt_create,
      gmt_modified)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{moduleType,jdbcType=TINYINT},
      #{methodType,jdbcType=TINYINT}, #{methodName,jdbcType=VARCHAR}, #{methodId,jdbcType=INTEGER},
      #{parameter1,jdbcType=VARCHAR}, #{parameter2,jdbcType=VARCHAR},
      #{parameter3,jdbcType=VARCHAR}, #{varName,jdbcType=VARCHAR}, 0, now(), now())
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoStepPO">
    update auto_step
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null">
        module_type = #{moduleType,jdbcType=TINYINT},
      </if>
      <if test="methodType != null">
        method_type = #{methodType,jdbcType=TINYINT},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodId != null">
        method_id = #{methodId,jdbcType=INTEGER},
      </if>
      <if test="parameter1 != null">
        parameter1 = #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null">
        parameter2 = #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null">
        parameter3 = #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="varName != null">
        var_name = #{varName,jdbcType=VARCHAR},
      </if>
      gmt_modified = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  <update id="updateResult">-->
<!--    update auto_step-->
<!--    set-->
<!--        assert_actual = #{assertActual,jdbcType=VARCHAR},-->
<!--        assert_result = #{assertResult,jdbcType=TINYINT},-->
<!--        gmt_modified = now()-->
<!--    where step_id = #{stepId,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>
