<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.AutoSuiteMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.AutoSuitePO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suite_id" jdbcType="VARCHAR" property="suiteId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="environment" jdbcType="VARCHAR" property="environment" />
    <result column="step_sleep" jdbcType="INTEGER" property="stepSleep" />
    <result column="case_max_time" jdbcType="INTEGER" property="caseMaxTime" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="passed" jdbcType="INTEGER" property="passed" />
    <result column="failed" jdbcType="INTEGER" property="failed" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, suite_id, `name`, description, environment, step_sleep, case_max_time, total,
    passed, failed, owner_id, owner_name
  </sql>
  <select id="selectByUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_suite
    where suite_id = #{suiteId,jdbcType=VARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_suite
    where is_delete = 0
    <if test="ownerId != null">
      and owner_id = #{ownerId,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    order by gmt_create desc limit ${startIndex}, 10
  </select>
  <update id="remove">
    update auto_suite set is_delete = 1
    where suite_id = #{suiteId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoSuitePO" useGeneratedKeys="true">
    insert into auto_suite (suite_id, `name`, description, environment,
      step_sleep, case_max_time,
      total, passed, failed,
      owner_id, owner_name, is_delete,
      gmt_create, gmt_modified)
    values (#{suiteId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{environment,jdbcType=VARCHAR},
      #{stepSleep,jdbcType=INTEGER}, #{caseMaxTime,jdbcType=INTEGER},
      #{total,jdbcType=INTEGER}, #{passed,jdbcType=INTEGER}, #{failed,jdbcType=INTEGER},
      #{ownerId,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, 0, now(), now())
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoSuitePO">
    update auto_suite
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="environment != null">
        environment = #{environment,jdbcType=VARCHAR},
      </if>
      <if test="stepSleep != null">
        step_sleep = #{stepSleep,jdbcType=INTEGER},
      </if>
      <if test="caseMaxTime != null">
        case_max_time = #{caseMaxTime,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="passed != null">
        passed = #{passed,jdbcType=INTEGER},
      </if>
      <if test="failed != null">
        failed = #{failed,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      gmt_modified = now,
    </set>
    where suite_id = #{suiteId,jdbcType=VARCHAR}
  </update>
  <update id="updateResult">
    update auto_suite
    set passed = passed + #{passed,jdbcType=INTEGER}, failed = failed + #{failed,jdbcType=INTEGER}
    where suite_id = #{suiteId,jdbcType=VARCHAR}
  </update>
</mapper>
