<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.AutoStepMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.AutoStepPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="step_id" jdbcType="VARCHAR" property="stepId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="jdbc_sql" jdbcType="VARCHAR" property="jdbcSql" />
    <result column="jdbc_url" jdbcType="VARCHAR" property="jdbcUrl" />
    <result column="jdbc_driver" jdbcType="VARCHAR" property="jdbcDriver" />
    <result column="jdbc_username" jdbcType="VARCHAR" property="jdbcUsername" />
    <result column="jdbc_password" jdbcType="VARCHAR" property="jdbcPassword" />
    <result column="http_url" jdbcType="VARCHAR" property="httpUrl" />
    <result column="http_type" jdbcType="VARCHAR" property="httpType" />
    <result column="http_header" jdbcType="VARCHAR" property="httpHeader" />
    <result column="http_body" jdbcType="VARCHAR" property="httpBody" />
    <result column="rpc_url" jdbcType="VARCHAR" property="rpcUrl" />
    <result column="rpc_interface" jdbcType="VARCHAR" property="rpcInterface" />
    <result column="rpc_method" jdbcType="VARCHAR" property="rpcMethod" />
    <result column="rpc_parameter_type" jdbcType="VARCHAR" property="rpcParameterType" />
    <result column="rpc_parameter" jdbcType="VARCHAR" property="rpcParameter" />
    <result column="ui_type" jdbcType="TINYINT" property="uiType" />
    <result column="ui_url" jdbcType="VARCHAR" property="uiUrl" />
    <result column="ui_element" jdbcType="VARCHAR" property="uiElement" />
    <result column="ui_element_id" jdbcType="INTEGER" property="uiElementId" />
    <result column="ui_key" jdbcType="VARCHAR" property="uiKey" />
    <result column="after_sleep" jdbcType="INTEGER" property="afterSleep" />
    <result column="assert_type" jdbcType="TINYINT" property="assertType" />
    <result column="assert_actual" jdbcType="VARCHAR" property="assertActual" />
    <result column="assert_expect" jdbcType="VARCHAR" property="assertExpect" />
    <result column="assert_result" jdbcType="TINYINT" property="assertResult" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="is_public" jdbcType="TINYINT" property="isPublic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, step_id, `name`, description, `type`, jdbc_sql, jdbc_url, jdbc_driver, jdbc_username,
    jdbc_password, http_url, http_type, http_header, http_body, rpc_url, rpc_interface, rpc_method, rpc_parameter_type,
    rpc_parameter, ui_type, ui_url, ui_element, ui_element_id, ui_key, after_sleep, assert_type, assert_actual,
    assert_expect, assert_result, owner_id, owner_name, is_public
  </sql>
  <select id="selectByUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_step
    where step_id = #{stepId,jdbcType=VARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_step
    where is_delete = 0
    and owner_id = #{ownerId,jdbcType=VARCHAR}
    <if test="isPublic != null">
      and is_public = #{isPublic,jdbcType=TINYINT}
    </if>
    <if test="type != null">
      and `type` = #{type,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    order by gmt_create desc limit ${startIndex}, 10
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1)
    from auto_step
    where is_delete = 0
    and owner_id = #{ownerId,jdbcType=VARCHAR}
    <if test="isPublic != null">
      and is_public = #{isPublic,jdbcType=TINYINT}
    </if>
    <if test="type != null">
      and `type` = #{type,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
  </select>
  <update id="remove">
    update auto_step
    set is_delete = 1, gmt_modified = now()
    where step_id = #{stepId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoStepPO" useGeneratedKeys="true">
    insert into auto_step (step_id, `name`, description, `type`,
      jdbc_sql, jdbc_url, jdbc_driver,
      jdbc_username, jdbc_password, http_url, http_type,
      http_header, http_body, rpc_url,
      rpc_interface, rpc_method, rpc_parameter_type, rpc_parameter,
      ui_type, ui_url, ui_element, ui_element_id, ui_key,
      after_sleep, assert_type, assert_actual,
      assert_expect, assert_result, owner_id, owner_name,
      is_public, is_delete, gmt_create,
      gmt_modified)
    values (#{stepId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
      #{jdbcSql,jdbcType=VARCHAR}, #{jdbcUrl,jdbcType=VARCHAR}, #{jdbcDriver,jdbcType=VARCHAR},
      #{jdbcUsername,jdbcType=VARCHAR}, #{jdbcPassword,jdbcType=VARCHAR}, #{httpUrl,jdbcType=VARCHAR}, #{httpType,jdbcType=VARCHAR},
      #{httpHeader,jdbcType=VARCHAR}, #{httpBody,jdbcType=VARCHAR}, #{rpcUrl,jdbcType=VARCHAR},
      #{rpcInterface,jdbcType=VARCHAR}, #{rpcMethod,jdbcType=VARCHAR}, #{rpcParameterType,jdbcType=VARCHAR}, #{rpcParameter,jdbcType=VARCHAR},
      #{uiType,jdbcType=TINYINT}, #{uiUrl,jdbcType=VARCHAR}, #{uiElement,jdbcType=VARCHAR}, #{uiElementId,jdbcType=INTEGER},
      #{uiKey,jdbcType=VARCHAR}, #{afterSleep,jdbcType=INTEGER}, #{assertType,jdbcType=TINYINT}, #{assertActual,jdbcType=VARCHAR},
      #{assertExpect,jdbcType=VARCHAR}, #{assertResult,jdbcType=TINYINT}, #{ownerId,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR},
      #{isPublic,jdbcType=TINYINT}, 0, now(), now())
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.AutoStepPO">
    update auto_step
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="jdbcSql != null">
        jdbc_sql = #{jdbcSql,jdbcType=VARCHAR},
      </if>
      <if test="jdbcUrl != null">
        jdbc_url = #{jdbcUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdbcDriver != null">
        jdbc_driver = #{jdbcDriver,jdbcType=VARCHAR},
      </if>
      <if test="jdbcUsername != null">
        jdbc_username = #{jdbcUsername,jdbcType=VARCHAR},
      </if>
      <if test="jdbcPassword != null">
        jdbc_password = #{jdbcPassword,jdbcType=VARCHAR},
      </if>
      <if test="httpUrl != null">
        http_url = #{httpUrl,jdbcType=VARCHAR},
      </if>
      <if test="httpType != null">
        http_type = #{httpType,jdbcType=VARCHAR},
      </if>
      <if test="httpHeader != null">
        http_header = #{httpHeader,jdbcType=VARCHAR},
      </if>
      <if test="httpBody != null">
        http_body = #{httpBody,jdbcType=VARCHAR},
      </if>
      <if test="rpcUrl != null">
        rpc_url = #{rpcUrl,jdbcType=VARCHAR},
      </if>
      <if test="rpcInterface != null">
        rpc_interface = #{rpcInterface,jdbcType=VARCHAR},
      </if>
      <if test="rpcMethod != null">
        rpc_method = #{rpcMethod,jdbcType=VARCHAR},
      </if>
      <if test="rpcParameterType != null">
        rpc_parameter_type = #{rpcParameterType,jdbcType=VARCHAR},
      </if>
      <if test="rpcParameter != null">
        rpc_parameter = #{rpcParameter,jdbcType=VARCHAR},
      </if>
      <if test="uiType != null">
        ui_type = #{uiType,jdbcType=TINYINT},
      </if>
      <if test="uiUrl != null">
        ui_Url = #{uiUrl,jdbcType=VARCHAR},
      </if>
      <if test="uiElement != null">
        ui_element = #{uiElement,jdbcType=VARCHAR},
      </if>
      <if test="uiElementId != null">
        ui_element_id = #{uiElementId,jdbcType=INTEGER},
      </if>
      <if test="uiKey != null">
        ui_key = #{uiKey,jdbcType=VARCHAR},
      </if>
      <if test="afterSleep != null">
        after_sleep = #{afterSleep,jdbcType=INTEGER},
      </if>
      <if test="assertType != null">
        assert_type = #{assertType,jdbcType=TINYINT},
      </if>
      <if test="assertExpect != null">
        assert_expect = #{assertExpect,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=TINYINT},
      </if>
      gmt_modified = now()
    </set>
    where step_id = #{stepId,jdbcType=VARCHAR}
  </update>
  <update id="updateResult">
    update auto_step
    set
        assert_actual = #{assertActual,jdbcType=VARCHAR},
        assert_result = #{assertResult,jdbcType=TINYINT},
        gmt_modified = now()
    where step_id = #{stepId,jdbcType=VARCHAR}
  </update>
</mapper>
