<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.CaseStepRelationMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.CaseStepRelationPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="case_id" jdbcType="VARCHAR" property="caseId" />
    <result column="step_id" jdbcType="VARCHAR" property="stepId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, case_id, step_id, `sequence`, `type`, is_delete, gmt_create, gmt_modified
  </sql>
  <select id="listStepByCaseId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from case_step_relation
    where case_id = #{caseId,jdbcType=VARCHAR}
  </select>
  <update id="removeByCaseId">
    update case_step_relation set is_delete = 1
    where case_id = #{caseId,jdbcType=VARCHAR}
  </update>
  <update id="remove" parameterType="com.luoys.upgrade.toolservice.dao.po.CaseStepRelationPO">
    update case_step_relation set is_delete = 1
    where case_id = #{caseId,jdbcType=VARCHAR} and step_id = #{stepId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.CaseStepRelationPO" useGeneratedKeys="true">
    insert into case_step_relation (case_id, step_id, `sequence`,
      `type`, is_delete, gmt_create,
      gmt_modified)
    values (#{caseId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER},
      #{type,jdbcType=TINYINT}, 0, now(), now())
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.CaseStepRelationPO">
    update case_step_relation
    <set>
      <if test="sequence != null">
        `sequence` = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where case_id = #{caseId,jdbcType=VARCHAR} and step_id = #{stepId,jdbcType=VARCHAR}
  </update>
</mapper>
