<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.DevicePO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="items" jdbcType="VARCHAR" property="items" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, description, items, `type`, owner_id, permission, is_delete
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from device
    where is_delete = 0
    and (owner_id = #{ownerId,jdbcType=VARCHAR} or permission = 1)
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="title != null">
      and title like concat('%', #{title,jdbcType=VARCHAR}, '%')
    </if>
    order by id desc limit ${startIndex}, 10
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    update device set is_delete = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.DevicePO" useGeneratedKeys="true">
    insert into device (title, description,
      items, `type`, owner_id,
      permission, is_delete)
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{items,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{ownerId,jdbcType=VARCHAR},
      #{permission,jdbcType=TINYINT}, 0)
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.DevicePO">
    update device
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="items != null">
        items = #{items,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
