<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.ProjectPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_project_id" jdbcType="INTEGER" property="parentProjectId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_project_id, `name`, description
  </sql>
  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project
    where is_delete = 0
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    order by gmt_create desc limit ${startIndex}, 10
  </select>
  <select id="count" resultType="java.lang.Integer">
    select
    count(1)
    from project
    where is_delete = 0
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
  </select>
  <delete id="remove" parameterType="java.lang.Integer">
    update project set is_delete = 1
    where id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.ProjectPO" useGeneratedKeys="true">
    insert into project (parent_project_id, `name`, description, 
      is_delete, gmt_create, gmt_modified
      )
    values (#{parentProjectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      0, now(), now()
      )
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.ProjectPO">
    update project
    <set>
      <if test="parentProjectId != null">
        parent_project_id = #{parentProjectId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      gmt_modified = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>