<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.ResourceSuiteRelationMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.ResourceSuiteRelationPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="suite_id" jdbcType="INTEGER" property="suiteId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_type" jdbcType="TINYINT" property="resourceType" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
    <result column="jdbc_url" jdbcType="VARCHAR" property="jdbcUrl" />
    <result column="jdbc_driver" jdbcType="VARCHAR" property="jdbcDriver" />
    <result column="jdbc_username" jdbcType="VARCHAR" property="jdbcUsername" />
    <result column="jdbc_password" jdbcType="VARCHAR" property="jdbcPassword" />
    <result column="slave_url" jdbcType="VARCHAR" property="slaveUrl" />
    <result column="slave_thread" jdbcType="VARCHAR" property="slaveThread" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_id, suite_id, `type`, resource_name, resource_type, permission, jdbc_url, jdbc_driver, jdbc_username, jdbc_password,
    slave_url, slave_thread
  </sql>
  <select id="selectByResourceId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource_suite_relation
    where resource_id = #{resourceId,jdbcType=INTEGER}
    and `type` = #{type,jdbcType=TINYINT}
  </select>
  <select id="selectBySuiteId" resultMap="BaseResultMap">
    select
    b.suite_id, b.resource_id, b.`type`, a.name as resource_name, a.type as resource_type, a.permission, a.jdbc_url,
      a.jdbc_driver, a.jdbc_username, a.jdbc_password, a.slave_url, a.slave_thread
    from resource a
    inner join resource_suite_relation b on a.id = b.resource_id
    where b.is_delete = 0 and a.is_delete = 0
    and b.suite_id = #{suiteId,jdbcType=INTEGER}
    and b.`type` = #{type,jdbcType=TINYINT}
  </select>
  <delete id="remove">
    update resource_suite_relation set is_delete=1
    where resource_id = #{resourceId,jdbcType=INTEGER}
        and suite_id = #{suiteId,jdbcType=INTEGER}
        and `type` = #{type,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.ResourceSuiteRelationPO" useGeneratedKeys="true">
    insert into resource_suite_relation (resource_id, suite_id, `type`, 
      is_delete, gmt_create, gmt_modified
      )
    values (#{resourceId,jdbcType=INTEGER}, #{suiteId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      0, now(), now()
      )
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.ResourceSuiteRelationPO">
    update resource_suite_relation
    <set>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="suiteId != null">
        suite_id = #{suiteId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      gmt_modified = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>