<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.ResourcePO">
    <id column="id" jdbcType="INTEGER" property="id" />
<!--    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />-->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
    <result column="jdbc_url" jdbcType="VARCHAR" property="jdbcUrl" />
    <result column="jdbc_driver" jdbcType="VARCHAR" property="jdbcDriver" />
    <result column="jdbc_username" jdbcType="VARCHAR" property="jdbcUsername" />
    <result column="jdbc_password" jdbcType="VARCHAR" property="jdbcPassword" />
<!--    <result column="device_model" jdbcType="VARCHAR" property="deviceModel" />-->
<!--    <result column="device_size" jdbcType="VARCHAR" property="deviceSize" />-->
<!--    <result column="device_dpi" jdbcType="VARCHAR" property="deviceDpi" />-->
<!--    <result column="device_os" jdbcType="VARCHAR" property="deviceOs" />-->
    <result column="slave_ip" jdbcType="VARCHAR" property="slaveIp" />
    <result column="slave_port" jdbcType="VARCHAR" property="slavePort" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
<!--    <result column="user_name" jdbcType="VARCHAR" property="userName" />-->
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, description, `type`, permission, jdbc_url, jdbc_driver, jdbc_username,
    jdbc_password, slave_ip, slave_port,
    project_id, owner_id, owner_name
  </sql>
  <select id="selectByID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where id = #{resourceId,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where `name` = #{name,jdbcType=VARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where is_delete = 0
    and (owner_id = #{ownerId,jdbcType=INTEGER} or permission = 1)
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    order by gmt_create desc limit ${startIndex}, 10
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1)
    from resource
    where is_delete = 0
    and (owner_id = #{ownerId,jdbcType=INTEGER} or permission = 1)
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
  </select>
  <update id="remove">
    update resource
    set is_delete = 1, gmt_modified = now()
    where id = #{resourceId,jdbcType=INTEGER}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.ResourcePO" useGeneratedKeys="true">
    insert into resource (`name`, description, `type`,
      permission, jdbc_url, jdbc_driver,
      jdbc_username, jdbc_password,
      slave_ip, slave_port, owner_id,
      owner_name, project_id,
      is_delete, gmt_create, gmt_modified
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
      #{permission,jdbcType=TINYINT}, #{jdbcUrl,jdbcType=VARCHAR}, #{jdbcDriver,jdbcType=VARCHAR},
      #{jdbcUsername,jdbcType=VARCHAR}, #{jdbcPassword,jdbcType=VARCHAR},
      #{slaveIp,jdbcType=VARCHAR}, #{slavePort,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER},
      #{ownerName,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER},
      0, now(), now()
      )
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.ResourcePO">
    update resource
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=TINYINT},
      </if>
      <if test="jdbcUrl != null">
        jdbc_url = #{jdbcUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdbcDriver != null">
        jdbc_driver = #{jdbcDriver,jdbcType=VARCHAR},
      </if>
      <if test="jdbcUsername != null">
        jdbc_username = #{jdbcUsername,jdbcType=VARCHAR},
      </if>
      <if test="jdbcPassword != null">
        jdbc_password = #{jdbcPassword,jdbcType=VARCHAR},
      </if>
      <if test="slaveIp != null">
        slave_ip = #{slaveIp,jdbcType=VARCHAR},
      </if>
      <if test="slavePort != null">
        slave_port = #{slavePort,jdbcType=VARCHAR},
      </if>
<!--      <if test="slaveThread != null">-->
<!--        slave_port = #{slavePort,jdbcType=VARCHAR},-->
<!--      </if>-->
      gmt_modified = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateUser">
    update resource
    set
        project_id = #{projectId,jdbcType=INTEGER},
        gmt_modified = now()
    where id = #{resourceId,jdbcType=INTEGER}
  </update>
</mapper>
