<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.SuiteCaseRelationMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.SuiteCaseRelationPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suite_id" jdbcType="INTEGER" property="suiteId" />
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="case_name" jdbcType="VARCHAR" property="caseName" />
    <result column="case_type" jdbcType="TINYINT" property="caseType" />
    <result column="case_status" jdbcType="TINYINT" property="caseStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, suite_id, case_id, status, `sequence`, case_name, case_type, case_status
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from suite_case_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="removeBySuiteId">
    update suite_case_relation
    set is_delete = 1, gmt_modified = now()
    where suite_id = #{suiteId,jdbcType=INTEGER}
  </update>
  <update id="remove">
    update suite_case_relation
    set is_delete = 1, gmt_modified = now()
    where suite_id = #{suiteId,jdbcType=INTEGER} and case_id = #{caseId,jdbcType=INTEGER}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.SuiteCaseRelationPO" useGeneratedKeys="true">
    insert into suite_case_relation (suite_id, case_id, status, `sequence`,
      is_delete, gmt_create, gmt_modified
      )
    values (#{suiteId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER},
      0, now(), now()
      )
  </insert>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into suite_case_relation (suite_id, case_id, status, `sequence`,
                                     is_delete, gmt_create, gmt_modified
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.suiteId,jdbcType=INTEGER}, #{item.caseId,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.sequence,jdbcType=INTEGER},
      0, now(), now()
      )
    </foreach>
  </insert>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.SuiteCaseRelationPO">
    update suite_case_relation
    <set>
      <if test="sequence != null">
        `sequence` = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      gmt_modified = now()
    </set>
    where suite_id = #{suiteId,jdbcType=INTEGER} and case_id = #{caseId,jdbcType=INTEGER} and is_delete = 0
  </update>
  <update id="updateStatus">
    update suite_case_relation
    set status = #{status,jdbcType=INTEGER}, gmt_modified = now()
    where suite_id = #{suiteId,jdbcType=INTEGER}
    and case_id = #{caseId,jdbcType=INTEGER}
    and is_delete = 0
  </update>
  <update id="resetStatusBySuiteId">
    update suite_case_relation
    set status = 1, gmt_modified = now()
    where suite_id = #{suiteId,jdbcType=INTEGER} and is_delete = 0
  </update>
  <select id="listCaseBySuiteId" resultMap="BaseResultMap">
    select
    scr.suite_id, scr.case_id, scr.status, ac.name as case_name, ac.type as case_type, ac.status as case_status, scr.sequence
    from auto_case ac
    inner join suite_case_relation scr on ac.case_id = scr.case_id
    where scr.is_delete = 0 and ac.is_delete = 0
    and scr.suite_id = #{suiteId,jdbcType=INTEGER}
    <if test="retry != null">
      and scr.status != 3
    </if>
    order by scr.sequence asc
    <if test="startIndex != null">
      limit ${startIndex}, 10
    </if>
  </select>
  <select id="countBySuiteId" resultType="java.lang.Integer">
    select
    count(1)
    from auto_case ac
    inner join suite_case_relation scr on ac.case_id = scr.case_id
    where scr.is_delete = 0 and ac.is_delete = 0
    and scr.suite_id = #{suiteId,jdbcType=INTEGER}
    <if test="status != null">
      and scr.status = #{status,jdbcType=INTEGER}
    </if>
  </select>
</mapper>
