<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.TaskPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_id, `name`, description, `comment`, `status`, start_time, end_time,
    owner_id, owner_name
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.TaskPO" useGeneratedKeys="true">
    insert into task (task_id, `name`, description,
                            `comment`, `status`, start_time,
                            end_time, owner_id, owner_name, is_delete, gmt_create,
                            gmt_modified)
    values (#{taskId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
            #{comment,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP},
            #{endTime,jdbcType=TIMESTAMP}, #{ownerId,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR},
            0, now(), now())
  </insert>
  <update id="updateStatusByUUID">
    update task
    set `status` = #{status,jdbcType=TINYINT},
        gmt_modified = now()
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateCommentByUUID">
    update task
    set comment = #{comment,jdbcType=VARCHAR},
        gmt_modified = now()
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="remove">
    update task
    set is_delete = 1,
        gmt_modified = now()
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>
  <select id="selectByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task
    where
    is_delete = 0 and owner_id = #{ownerId,jdbcType=VARCHAR}
    <if test="startTime != null">
      and start_time >= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and start_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.TaskPO">
    update task
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=VARCHAR},
      </if>
      gmt_modified = now()
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>
