<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.ToolMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.ToolPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tool_id" jdbcType="VARCHAR" property="toolId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="template" jdbcType="VARCHAR" property="template" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tool_id, title, description, params, `template`, `type`, permission, owner_id
  </sql>
  <select id="selectByUID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tool
    where tool_id = #{toolId,jdbcType=VARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tool
    where is_delete = 0
    and (owner_id = #{ownerId,jdbcType=VARCHAR} or permission = 2)
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="title != null">
      and title like concat('%', #{title,jdbcType=VARCHAR}, '%')
    </if>
    order by id desc limit ${startIndex}, 10
  </select>
  <delete id="deleteByUID" parameterType="java.lang.Integer">
    delete from tool
    where tool_id = #{tool_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.ToolPO" useGeneratedKeys="true">
    insert into tool (tool_id, title, description,
      params, `template`, `type`,
      permission, owner_id, is_delete
      )
    values (#{toolId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{params,jdbcType=VARCHAR}, #{template,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
      #{permission,jdbcType=TINYINT}, #{ownerId,jdbcType=VARCHAR}, 0
      )
  </insert>
  <update id="updateByUID" parameterType="com.luoys.upgrade.toolservice.dao.po.ToolPO">
    update tool
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        `template` = #{template,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
    </set>
    where tool_id = #{toolId,jdbcType=VARCHAR}
  </update>
</mapper>
