<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.toolservice.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.toolservice.dao.po.UserPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, login_name, pass_word, phone, user_name, `type`, `status`, is_delete,
    gmt_create, gmt_modified
  </sql>
  <!--新增-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.toolservice.dao.po.UserPO" useGeneratedKeys="true">
    insert into user (user_id, login_name, pass_word,
                      phone, user_name, `type`,
                      `status`, is_delete, gmt_create,
                      gmt_modified)
    values (#{userId,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
            #{status,jdbcType=TINYINT}, 0, now(), now())
  </insert>

  <update id="update" parameterType="com.luoys.upgrade.toolservice.dao.po.UserPO">
    update user
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        pass_word = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      gmt_modified = now()
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="remove">
    update user
    set is_delete = 1, gmt_modified = now()
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="selectByLoginInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where is_delete = 0
    and pass_word = #{password,jdbcType=VARCHAR}
    <if test="loginName != null">
      and login_name = #{loginName,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where login_name = #{loginName,jdbcType=VARCHAR}
  </select>

  <select id="selectByUUId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="select" parameterType="com.luoys.upgrade.toolservice.dao.po.UserPO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where is_delete = 0
    and user_id = #{userId,jdbcType=VARCHAR}
    <if test="loginName != null">
      and login_name = #{loginName,jdbcType=VARCHAR},
    </if>
    <if test="password != null">
      and pass_word = #{password,jdbcType=VARCHAR},
    </if>
    <if test="phone != null">
      and phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="userName != null">
      and user_name = #{userName,jdbcType=VARCHAR},
    </if>
    <if test="type != null">
      and `type` = #{type,jdbcType=TINYINT},
    </if>
    <if test="status != null">
      and `status` = #{status,jdbcType=TINYINT},
    </if>
  </select>
</mapper>
